<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="margin-bottom:50px">
        <img src="/assets/images/mountietocat.png" alt="Octocat" class="img-responsive center-block" style="max-width:500px" />
        <h1 class="center-block">Welcome to the GitHub Dashboard</h1>
        <p class="lead center-block">
            With GitHub Dashboard you can easily keep tabs on your repo,
            see the lastest status, and much more.
        </p>

        <a ui-sref="install" class="mega-octicon octicon-info center-block"></a>
      </div>
    </div>
</div>