<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="margin-bottom:50px">
        <h1>Install GitHub Dashboard</h1>

        <h3>Add webhook</h3>
        <p>
            In your repository add the following webhook, make sure to 
            select "send me <strong>everything</strong>". Or just select
            specific events, whatever, it's your life.
            <pre>{{ config.value.webhook }}</pre>
        </p>

        <h3>Include .dashboard.yml</h3>
        <p>
            In the root of your repository add a <code>.dashboard.yml</code> file.<br />
            If no file is present we will use default settings instead.
<pre>
logo: {{ config.value.github }}/:user/:repo/raw/master/logo.png
branch:
  - master
  - release
</pre>
        </p>

        <h3>You're done!</h3>
        <p>
            Status updates and events will start coming in as they are
            received, head here to check out the action.
            <pre>{{ config.value.url }}/:user/:repo</pre>
        </p>

        <a ui-sref="home" class="mega-octicon octicon-arrow-left center-block"></a>
      </div>
    </div>
</div>