<div class="container-fluid fade" ng-class="{in: config.loaded}">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="margin-bottom:50px">
        <h1>Install GitHub Dashboard</h1>

        <h3>Add webhook</h3>
        <p>
            In your repository add the following webhook, make sure to 
            select "send me <strong>everything</strong>". Or just select
            specific events, whatever, it's your life.
            <pre>{{ config.value.webhook }}</pre>
        </p>

        <h3>Include .dashboard.yml</h3>
        <p>
            In the root of your repository add a <code>.dashboard.yml</code> file.<br />
            If no file is present, that's cool, we will use some default settings instead.
<pre>
logo: http://...       # url to logo image
delay: 5               # minutes to display notifications
branch:                # list of watched branches
  - master
  - release
stats:                 # list of statistics
  - url: http://...
    icon: octicon octicon-star
  - url: http://...
    icon: octicon octicon-star
</pre>
        </p>

        <h3>Statistics</h3>

        <p>
            Statistics are simple webservices that return a json object with a text value. 
            This text will be displayed below the icon you provide, we poll these services
            every minute to keep them up-to-date.<br />
            An example payload looks like this.
<pre>
GET: http://myawesomewebservice.com/statistic

{
    "text": "Everything is awesome!"
}
</pre>
        </p>

        <h3>You're done!</h3>
        <p>
            Status updates and events will start coming in as they are
            received, head to your reposiroty to check out the action.
            <pre>{{ config.value.url }}/:user/:repo</pre>
        </p>

        <a ui-sref="home" class="mega-octicon octicon-arrow-left center-block"></a>
      </div>
    </div>
</div>