
<h2 class="text-shadow fade" ng-class="{in: settings.loaded}" style="position:absolute; top:20px; left:20px; margin:0; font-weight:300;">
  {{ $stateParams.user }}/{{ $stateParams.repo }}
</h2>

<!-- notifications -->
<growl ng-repeat="notification in notifications"
       icon="notification.icon"
       title="notification.title"
       message="notification.message"
       delay="notification.delay"
       style="position:absolute;">
</growl>

<div class="container-fluid center-vertical no-select">
  <div class="row">
    <div class="col-sm-12">

      <!-- the logo -->
      <img ng-src="{{ logo }}" 
           class="img-responsive center-block fade"
           ng-class="{in: settings.loaded}" 
           style="max-width:400px" />

      <!-- status message -->
      <div ng-show="status" class="center-block">
        <h1>{{ status.state }}</h1>
        <p class="lead">
          {{ status.branch }}<br />
          <small>{{ status.context }}: {{ status.description }}</small>
        </p>
      </div>

      <table class="table text-center" style="margin-top:50px;">
        <tr>
          <td ng-repeat="stat in stats" ng-style="equal">
            <stat url="stat.url" icon="stat.icon" style="min-height:110px;"></stat>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
