<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="">
      <span class="octicon octicon-repo"></span>
      {{ $stateParams.user }}/{{ $stateParams.repo }}
    </a>
  </div>
</nav>

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="settings.error">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  {{ settings.error.message }}
</div>

<!-- notifications -->
<growl ng-repeat="notification in notifications"
       icon="notification.icon"
       title="notification.title"
       message="notification.message"
       style="position:absolute;">
</growl>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="padding:20px 0;">

      <!-- the default logo -->
      <img src="/assets/images/original.png" 
           ng-show="settings.loaded && !settings.value.logo" 
           class="img-responsive center-block" 
           style="max-width:400px" />

      <!-- user specified logo -->
      <img ng-src="{{ settings.value.logo }}" 
           class="img-responsive center-block" 
           style="max-width:400px" />

      <!-- status message -->
      <div ng-show="status" class="center-block">
        <h1>{{ status.state }}</h1>
        <p class="lead">
          {{ status.branch }}<br />
          <small>{{ status.context }}: {{ status.description }}</small>
        </p>
      </div>

    </div>
  </div>
</div>
