// overwrite bootstrap styles

// fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// brand colours

// components
$border-radius-small: 0;
$border-radius-base: 0;
$border-radius-large: 0;

// navbar
$navbar-height: 50px;
$navbar-margin-bottom: 0;

// tables
$table-border-color: transparent;

// import bootstrap
@import '../../../bower/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

// import partials
@import 'alert';

body {
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
}

a:hover,
a:focus {
  text-decoration: none;
}

// Fade in

.fade {
  opacity: 0;

  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;

  &.in {
    opacity: 1;
  }
}

.animate {
  -moz-transition: margin-top 1s ease;
  -ms-transition: margin-top 1s ease;
  -o-transition: margin-top 1s ease;
  -webkit-transition: margin-top 1s ease;
  transition: margin-top 1s ease;
}


// Helper classes

.text-shadow {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center-vertical {
  height: 100vh;

  .row {
    position: relative;
    top: 50%;

    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.no-select {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;    
  user-select: none;
}

[ng\:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
  display: none !important;
}
